
<div id="footer_general_informations">
	<p>
		O LIBER é uma instituição de atuação política, sem fins lucrativos, que visa difundir os preceitos do Libertarianismo, doutrina filosófica baseada nos princípios da não agressão e da auto-propriedade.
	</p>
</div>
<!-- IMPORTANT LINKS BEGIN -->
<div id="important_links">
	<div>
		<h1>
			Administração - Site Liber</h1>
		<ul>
			<li><a href="@Url.Action("Index", "Admin")"><span>Principal</span></a></li>
			<li><a href="@Url.Action("Index", "AdminPagina")"><span>Paginas Estaticas</span></a></li>
			<li><a href="@Url.Action("Index", "AdminPostagem")"><span>Postagens</span></a></li>
			<li><a href="@Url.Action("Index", "Home")"><span>Site Liber</span></a></li>
		</ul>
	</div>
</div>
<!-- IMPORTANT LINKS END -->
<p id="copy">
	@Helper.Image("creative_commons.png", Url, "Creative Commons 2.0")
	Esta obra é licenciada sob uma licença <a href="http://creativecommons.org/licenses/by/2.0/br/">Creative Commons Atribuição 2.0 Brasil.</a>
</p>

