@using LiberMvc.Models
<ul id="main_navigation">
	<li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
	<li><a href="#">Ideias</a>
		<div class="drop-holder">
			<div class="drop-content">
				<ul>
					<li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
					<li><a href="@Url.Action("Index", "Artigos")">Artigos</a></li>
					<li><a href="@Url.Action("Index", "Videos")">Vídeos</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li><a href="#">Nosso Partido</a>
		<div class="drop-holder">
			<div class="drop-content">
				<ul>
					<li><a href="@Url.RouteUrl(new { controller = "Pagina", page = "Historia" })">História</a></li>
					<li><a href="@Url.RouteUrl(new { controller = "Pagina", page = "Filosofia" })">Filosofia</a></li>
					<li><a href="@Url.RouteUrl(new { controller = "Pagina", page = "Programa" })">Programa</a></li>
					<li><a href="@Url.RouteUrl(new { controller = "Pagina", page = "Estatuto" })">Estatuto</a></li>
					<li><a href="@Url.RouteUrl(new { controller = "Pagina", page = "Lideranca" })">Lideranças Nacionais</a></li>
					<li><a href="@Url.RouteUrl(new { controller = "Pagina", page = "Contas" })">Prestação de Contas</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li><a href="#">Programa</a>
		<div class="drop-holder">
			<div class="drop-content">
				<ul>
					<li><a href="@Url.Action("Direitos", "Liber")">Direitos Individuais</a></li>
					<li><a href="@Url.Action("Economia", "Liber")">Comércio e Economia</a></li>
					<li><a href="@Url.Action("Domestico", "Liber")">Assuntos Domésticos</a></li>
					<li><a href="@Url.Action("Exterior", "Liber")">Relações Exteriores</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li><a href="#">Participe</a>
		<div class="drop-holder">
			<div class="drop-content">
				<ul>
					<li><a href="@Url.Action("Cadastro", "Usuario")">Cadastre-se</a></li>
					<li><a href="@Url.Action("Filiacao", "Usuario")">Filie-se</a></li>
					<li><a href="@Url.Action("Doacao", "Liber")">Faça uma doação</a></li>
					<li><a href="@Url.Action("Divulgacao", "Liber")">Divulgue</a></li>
					@*<li><a href="@Url.Action("Newsletter", "Liber")">Newsletter</a></li>*@
					<li><a href="@Url.Action("Liber500", "Liber")">Liber 500</a></li>
					@*<li><a href="@Url.Action("Index", "Forum")">Fórum</a></li>*@
					<li><a href="@Url.Action("Contato", "Liber")">Contato</a></li>
				</ul>
			</div>
		</div>
	</li>
	@*<li class="rows_3"><a href="#">Mídia</a>
			<div class="drop-holder">
				<div class="drop-content">
						<ul>
							<li><a href="@Url.Action("Imprensa", "Liber")">Na Imprensa</a></li>
							<li><a href="@Url.Action("Jornalistas", "Liber")">Para Jornalistas</a></li>
							<li><a href="@Url.Action("Eventos", "Liber")">Eventos</a></li>
						</ul>
				</div>
			</div>
		</li>*@
	<li><a href="@Url.Action("Diretorios", "Liber")">Diretórios</a></li>
	<li><a href="@Url.Action("FAQ", "Liber")">FAQ</a></li>
 @if (Usuario.Logado.isEditor || Usuario.Logado.isAdmin)
 {
		<li><a href="@Url.Action("Index", "Admin")">Admin</a></li>
 }
@*<li class="rows_0"><a href="@Url.Action("Index", "Loja")"><span>Loja</span></a></li>*@
</ul>
