@model LiberMvc.Models.CadastroModel
<div class="panel" id="cadastro">
	<h1>
		Cadastro</h1>
	<p>
		Este cadastro <strong>não implica em filiação</strong></p>
	<p>
		Os Ítens em <strong style="color: red">vermelho</strong> são obrigatórios.
	</p>
	<div id="display-form">
		@{ Html.EnableClientValidation(); }
		@using (Html.BeginForm())
	{ 
			@Html.ValidationSummary(true)
				
			<div class="display-item">
				<span class="display-label obr">
					@Html.LabelFor(model => model.Usuario.Apelido)
				</span><span class="display-field">
					@Html.EditorFor(model => model.Usuario.Apelido)
					@Html.ValidationMessageFor(model => model.Usuario.Apelido)
				</span>
			</div>

			<div class="display-item">
				<span class="display-label obr">
					@Html.LabelFor(model => model.Usuario.Email)
				</span><span class="display-field">
					@Html.EditorFor(model => model.Usuario.Email)
					@Html.ValidationMessageFor(model => model.Usuario.Email)
				</span>
			</div>

			<div class="display-item">
				<span class="display-label obr">
					@Html.LabelFor(model => model.Usuario.Senha)
				</span><span class="display-field">
					@Html.EditorFor(model => model.Usuario.Senha)
					@Html.ValidationMessageFor(model => model.Usuario.Senha)
				</span>
			</div>

			<br class="clear" />

			<div class="display-item">
				<span class="display-label"></span><span class="display-field">
					@Html.EditorFor(model => model.Usuario.ReceberNewsletter)
					@Html.LabelFor(model => model.Usuario.ReceberNewsletter)
				</span>
			</div>

			<div class="display-item">
				<span class="display-label"></span><span class="display-field">
					@Html.EditorFor(model => model.DesejaFiliacao)
					@Html.LabelFor(model => model.DesejaFiliacao)
				</span>
			</div>

			<br class="clear" />

			<div class="display-item">
				<span class="display-field">
					<input type="submit" value="Cadastrar" class="button" />
				</span>
			</div>

	}
		<br class="clear" />
	</div>
</div>
@section RightContent {
	@Html.Partial("_RightCadastro")
}
