@model LiberMvc.Models.FiliacaoModel
@section HeadContent {
	<script src="@Url.Content("~/Scripts/jquery-ui-1.8.5.custom.min.js")" type="text/javascript"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.datepicker-pt-BR.js")"></script>
	<link href="@Url.Content("~/Content/ui-darkness/jquery-ui-1.8.5.custom.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		$(function () {
			var thisYear = new Date().getYear();
			if (thisYear < 1000) thisYear += 1900;
			var settings = {
				changeMonth: true,
				changeYear: true,
				yearRange: thisYear - 110 + ':' + thisYear
			};
			$(".datePicker").datepicker(settings);
		});
	</script>
}
<div class="panel">
	<h1>
		Filiação</h1>
	<p>
		Os Ítens em <strong style="color: red">vermelho</strong> são obrigatórios.</p>
	<div id="display-form">
		@{ Html.EnableClientValidation(); }
		@using (Html.BeginForm())
	{
			@Html.ValidationSummary(true)

			<fieldset>
				<legend>Dados Pessoais</legend>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.Nome)
					</span><span class="display-field">
						@Html.EditorFor(model => model.Pessoa.Nome)
						@Html.ValidationMessageFor(model => model.Pessoa.Nome)
					</span>
				</div>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.DataNasc)
					</span><span class="display-field">
						@Html.EditorFor(model => model.Pessoa.DataNasc)
						@Html.ValidationMessageFor(model => model.Pessoa.DataNasc)
					</span>
				</div>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.Naturalidade)
					</span><span class="display-field">
						@Html.EditorFor(model => model.Pessoa.Naturalidade)
						@Html.ValidationMessageFor(model => model.Pessoa.Naturalidade)
					</span>
				</div>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.NomePai)
					</span><span class="display-field">
						@Html.EditorFor(model => model.Pessoa.NomePai)
						@Html.ValidationMessageFor(model => model.Pessoa.NomePai)
					</span>
				</div>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.NomeMae)
					</span><span class="display-field">
						@Html.EditorFor(model => model.Pessoa.NomeMae)
						@Html.ValidationMessageFor(model => model.Pessoa.NomeMae)
					</span>
				</div>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.EstadoCivilID)
					</span><span class="display-field">
						@(Html.DropDownListFor(model => model.Pessoa.EstadoCivilID,
							new SelectList(Model.ListaEstadoCivil, "EstadoCivilID", "Descricao"),
							"Selecione o Estado Civil"))
						@Html.ValidationMessageFor(model => model.Pessoa.EstadoCivilID)
					</span>
				</div>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.Profissao)
					</span><span class="display-field">
						@Html.EditorFor(model => model.Pessoa.Profissao)
						@Html.ValidationMessageFor(model => model.Pessoa.Profissao)
					</span>
				</div>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.GrauInstrucaoID)
					</span><span class="display-field">
						@(Html.DropDownListFor(model => model.Pessoa.GrauInstrucaoID,
							new SelectList(Model.ListaGrauInstrucao, "GrauInstrucaoID", "Descricao"),
							"Selecione o Grau de Instrução"))
						@Html.ValidationMessageFor(model => model.Pessoa.GrauInstrucaoID)
					</span>
				</div>
			</fieldset>
			<fieldset>
				<legend>Contato</legend>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.Endereco.Logradouro)
					</span><span class="display-field">
						@Html.EditorFor(model => model.Pessoa.Endereco.Logradouro)
						@Html.ValidationMessageFor(model => model.Pessoa.Endereco.Logradouro)
					</span>
				</div>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.Endereco.Cidade)
					</span><span class="display-field">
						@Html.EditorFor(model => model.Pessoa.Endereco.Cidade)
						@Html.ValidationMessageFor(model => model.Pessoa.Endereco.Cidade)
					</span>
				</div>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.Endereco.Estado)
					</span><span class="display-field">
						@(Html.DropDownListFor(model => model.Pessoa.Endereco.Estado,
							new SelectList(Model.ListaEstados, "Key", "Value"),
							" -- "))
						@Html.ValidationMessageFor(model => model.Pessoa.Endereco.Estado)
					</span>
				</div>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.Endereco.CEP)
					</span><span class="display-field">
						@Html.EditorFor(model => model.Pessoa.Endereco.CEP)
						@Html.ValidationMessageFor(model => model.Pessoa.Endereco.CEP)
					</span>
				</div>
				<div class="display-item">
					<span class="display-label obr">
						@Html.LabelFor(model => model.Pessoa.Telefone)
					</span><span class="display-field">
						@Html.EditorFor(model => model.Pessoa.Telefone)
						@Html.ValidationMessageFor(model => model.Pessoa.Telefone)
					</span>
				</div>
			</fieldset>
			<fieldset>
				<legend>Dados Eleitorais</legend>
				<div class="display-item">
					<div class="display-label obr">
						@Html.LabelFor(model => model.Filiado.TituloEleitor)
					</div>
					<div class="display-field">
						@Html.EditorFor(model => model.Filiado.TituloEleitor)
						@Html.ValidationMessageFor(model => model.Filiado.TituloEleitor)
					</div>
				</div>
				<div class="display-item">
					<div class="display-label obr">
						@Html.LabelFor(model => model.Filiado.Zona)
					</div>
					<div class="display-field">
						@Html.EditorFor(model => model.Filiado.Zona)
						@Html.ValidationMessageFor(model => model.Filiado.Zona)
					</div>
				</div>
				<div class="display-item">
					<div class="display-label obr">
						@Html.LabelFor(model => model.Filiado.Secao)
					</div>
					<div class="display-field">
						@Html.EditorFor(model => model.Filiado.Secao)
						@Html.ValidationMessageFor(model => model.Filiado.Secao)
					</div>
				</div>
				<div class="display-item">
					<div class="display-label obr">
						@Html.LabelFor(model => model.Filiado.MunicipioUF)
					</div>
					<div class="display-field">
						@Html.EditorFor(model => model.Filiado.MunicipioUF)
						@Html.ValidationMessageFor(model => model.Filiado.MunicipioUF)
					</div>
				</div>
				<div class="display-item">
					<div class="display-label">
						@Html.LabelFor(model => model.Filiado.OutroPartido)
					</div>
					<div class="display-field">
						@Html.EditorFor(model => model.Filiado.OutroPartido)
						@Html.ValidationMessageFor(model => model.Filiado.OutroPartido)
					</div>
				</div>
				<div class="display-item">
					<div class="display-label">
						@Html.LabelFor(model => model.Filiado.OutroPartidoQual)
					</div>
					<div class="display-field">
						@Html.EditorFor(model => model.Filiado.OutroPartidoQual)
						@Html.ValidationMessageFor(model => model.Filiado.OutroPartidoQual)
					</div>
				</div>
			</fieldset>
			<br class="clear" />
			<div class="display-item">
				<input type="submit" value="Continuar" class="button" />
			</div>
	}
	</div>
</div>
@section RightContent {
	@Html.Partial("_RightMenu")
}
