@model LiberMvc.Models.Artigo



	<div class="panel">
	    <h1>Artigo</h1>

        <div class="article">
            @Html.DisplayForModel("Artigo")
        </div>

	    <p class="actions">
	    @if (Model.isOwnerOrAdmin) { 
		    @Html.ActionLink("Editar", "Edit", new { id = Model.ArtigoID }, new { @class = "button" })
	     } 
		    @Html.ActionLink("Voltar a lista", "Index", null, new { @class = "button" })

            <br class="clear" />
	    </p>

	</div>


@section RightContent {

	 @Html.Partial("_RightMenu") 

}

@section HeadContent {
	<meta property="og:type" content="text" />
	<meta property="og:image" content="http://www.pliber.org.br@(Url.Content("~/Content/images/liber_logo.png"))" />
	<meta property="og:title" content="@Model.Titulo"/>
	<meta property="og:url" content="@Request.Url" />
	<meta property="og:description" content="@Model.Chamada" />
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
		{ lang: 'pt-BR' }
	</script>
}