@model LiberMvc.Models.Postagem
@{
	ViewBag.Title = "Nova postagem";
	//Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
	@Helper.Script("tinymce/jscripts/tiny_mce/tiny_mce.js", Url)
	@Helper.Script("textedit.js", Url)
<div class="panel">
	<h1>@ViewBag.Title</h1>
	<div id="editor-form">
		@{ Html.EnableClientValidation(); }
		@using (Html.BeginForm())
	{
			@Html.ValidationSummary(true)
			@Html.EditorForModel("Postagem")
			<p class="actions">
				<input type="submit" value="Enviar" class="button" />
				@Html.ActionLink("Voltar a Lista", "Index", null, new { @class = "button" })
				<br class="clear" />
			</p>
	}
	</div>
</div>
@section HeadContent {
	@Helper.Script("jquery-ui-1.8.5.custom.min.js", Url)
	@Helper.Script("jquery.ui.datepicker-pt-BR.js", Url)
	@Helper.Css("ui-darkness/jquery-ui-1.8.5.custom.css", Url)
	<script type="text/javascript">
		$(function () {
			$(".datePicker").datepicker();

			$("input[type=submit]").click(function () {
				tinyMCE.triggerSave();
				//$("form").submit();
			});
		});
	</script>
}
@section RightContent {
	@Html.Partial("_RightMenu")
}
