@model LiberMvc.Models.Postagem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Postagem</legend>

    <div class="display-label">TipoPostagem</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoPostagem.Descricao)
    </div>

    <div class="display-label">Titulo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">Chamada</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chamada)
    </div>

    <div class="display-label">Conteudo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Conteudo)
    </div>

    <div class="display-label">Publicado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Publicado)
    </div>

    <div class="display-label">PublicadoEm</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublicadoEm)
    </div>

    <div class="display-label">CriadoEm</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CriadoEm)
    </div>

    <div class="display-label">Fonte</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fonte)
    </div>

    <div class="display-label">isEditorOrAdmin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isEditorOrAdmin)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
