@model LiberMvc.PaginatedList<LiberMvc.Models.Postagem>

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                Tipo Postagem
            </th>
            <th>
                Titulo
            </th>
            <th>
                Publicado
            </th>
            <th>
                PublicadoEm
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPostagem.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publicado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicadoEm)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PostagemID }) |
                @Html.ActionLink("Details", "Details", new { id=item.PostagemID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PostagemID })
            </td>
        </tr>
    }
    
    </table>

	
	<div class="actions">
		@Helper.Pager(Model, Url)

		<br class="clear" />
	</div>
</body>
</html>
