



    <div class="panel" id="post">
        <h1>Estatuto</h1>

        <div id="index">
            <h1>Nosso Partido</h1>

            <ul>
                <li><a href="@Url.Action("Historia", "Liber")">História</a></li>
		        <li><a href="@Url.Action("Filosofia", "Liber")">Filosofia</a></li>
		        <li><a href="@Url.Action("Programa", "Liber")">Programa</a></li>
			    <li><a href="@Url.Action("Estatuto", "Liber")">Estatuto</a></li>
			    <li><a href="@Url.Action("Lideranca", "Liber")">Lideranças Nacionais</a></li>
                @* <li><a href='@Url.Action("Contas", "Partido")'>Prestação de Contas</a></li> *@
            </ul>
        </div>

        <h2>O Partido e Seus Objetivos.</h2>

        <p>
		    Artigo 1º. O Libertários, cuja sigla é; LIBER, é um
		    partido político, com sede e foro na Capital Federal, duração
		    indeterminada, ação em todo o território nacional e é
		    regido por este Estatuto e pela legislação aplicável.
	    </p>

	    <p>
		    Artigo 2º. O LIBER visa defender e propagar os princípios do Libertarianismo,
		    conforme detalhados em seu Programa, segundo os quais:
	    </p>

	    <p>
		    I. Todo indivíduo tem direito (a) à vida, origem de todos os outros
		    direitos; (b) à liberdade de agir e buscar sua felicidade como lhe convier;
		    e (c) à propriedade, fruto legítimo de sua vida e sua liberdade; e
	    </p>

		<p>
			II. Para que esses direitos sejam respeitados, é essencial que nenhum
			indivíduo ou grupo inicie o uso de forçaa ou fraude contra outrem.
		</p>

		<p>
			Parágrafo ùnico. Alterações neste artigo necessitam
			aprovação de 90% (noventa por cento) dos filiados com direito a voto
			em convenção exclusiva para este fim.
		</p>

		<h2>Os Filiados, Seus Direitos e Deveres.</h2>

        <p>
	        Artigo 3º. Pode se filiar ao LIBER qualquer brasileiro, no pleno gozo de seus
	        direitos políticos, que concorde com o Programa e o Estatuto do LIBER. &sect;
	        1º. O filiado fica vinculado ao DI Nacional e aos outros
	        cujas áreas incluam o seu domicílio eleitoral. &sect;
            2º. O DI da menor subdivisão fará o controle das filiações
	        e disponibilizará as informações aos DIs que o englobem.
        </p>

	    <p>
		    Artigo 4º. Os filiados têm direito a:
	    </p>

		<p>
			I. Votar nas convenções diretas;
		</p>

		<p>
			II. Concorrer a cargos dos DIs que participe;
		</p>

		<p>
			III. Concorrer pelo LIBER a cargos públicos, respeitadas as normas de
			escolha de candidatos;
		</p>

		<p>
			IV. Ser informado sobre as decisões e finanças do LIBER em todos
			os níveis da federação; e
		</p>

		<p>
			V. Ter seus dados mantidos em sigilo, exceto conforme exigido por lei e para
			as finalidades intrínsecas do LIBER.
            &sect; 1º. O direito indicado no inciso I acima, apenas poderá ser exercido por indivíduos
			em dia com suas anuidades e filiados há mais de 12 (doze) meses.
            &sect; 2º. Os direitos indicados nos incisos II a III acima, apenas
			poderão ser exercidos por indivíduos em dia com suas anuidades e filiados
			há mais de 24 (vinte e quatro) meses.
		</p>

	    <p>
		    Artigo 5º. É dever dos filiados:
	    </p>

		<p>
			I. Manter conduta ética;
		</p>

		<p>
			II. Manter atitude respeitosa com outros filiados;
		</p>

		<p>
			III. Abster-se de defender posições contrárias aos princípios
			libertários; e
		</p>

		<p>
			IV. Pagar a anuidade dos DIs.
		</p>

		<p>
			Artigo 6º. A filiação será cancelada nas hipóteses
			previstas em lei e por decisão do CJ competente, da qual mais recurso.
		</p>

		<h2>Organização e Funcionamento.</h2>

		<p>
			Artigo 7º. O LIBER se organiza em Diretórios (DI) que podem existir
			nos níveis nacional, estadual, municipal e, quando for o caso, zonal.
		</p>

		<p>
			&sect; 1º. Cada DI terá programa e estatuto complementar aos dos
			DIs superiores;
		</p>

		<p>
			&sect; 2º. Respeitados os limites aqui previstos, cada DI terá
			autonomia para definir sua estrutura e decidir as questões pertinentes ao
			seu âmbito de atuação.
		</p>

		<p>
			Artigo º. Cada DI deverá possuir os seguintes órgãos:
		</p>

		<p>
			I. Convenção Geral (CG);
		</p>

		<p>
			II. Comitê Executivo (CE);
		</p>

		<p>
			III. Comitê Fiscal (CF); e
		</p>

		<p>
			IV. Comitê Julgador (CJ).
		</p>

	    <p>
		    &sect; 1º. É vedado o acúmulo de cargos em quaisquer órgãos
		    de um mesmo DI. Em DIs de diferentes níveis da federação apenas
		    é permitido o acúmulo de um ou mais cargos no CE (exceto se na Executiva)
		    com outro cargo qualquer.
	    </p>

		<p>
			&sect; 2º. Os membros destes órgãos não receberão
			remuneração ou isenção de anuidades, exceto pelo ressarcimento
			de despesas previamente autorizadas e comprovadamente incorridas no exercício
			de sua função.
		</p>

		<p>
			&sect; 3º. Os DIs zonais poderão optar, em seus estatutos, por
			substituir os órgãos previstos acima, por uma Executiva e um corpo
			de delegados.
		</p>

		<p>
			Artigo 9º. A criação de um DI depende da aprovação
			deste pela CG do DI imediatamente superior.
		</p>

		<p>
			Artigo 10. Pelo voto favorável de 75% (setenta e cinco por cento) de
			sua CG, o DI imediatamente superior poderá dissolver o DI abaixo. A convocação
			desta CG deverá ser fundamentada e poderá ser questionada pelo DI
			prejudicado no CJ Nacional.
		</p>

		<h2>As Convenções Gerais.</h2>

		<p>
			Artigo 11. Periodicamente os DIs deverão reunir seus filiados em CGs na forma
			estabelecida neste Estatuto, as quais deverão ser diretas nos DIs da menor
			subdivisão do LIBER e indiretas, por meio de delegados, nos demais DIs.
		</p>

		<p>
			&sect; 1º. Não obstante o &sect; 1º do Artigo 4º, todo filiado
			poderá comparecer e se manifestar nas CGs.
		</p>

		<p>
			&sect; 2º. Nas CGs indiretas, os DIs imediatamente inferiores poderão
			enviar (a) 01 (um) delegado para cada 01% (um por cento) da arrecadação
			com anuidades obtida pelo DI em questão, paga por filiados ao DI inferior;
			e (b) 01 (um) delegado para cada 01% (um por cento) dos votos obtidos por candidatos
			do LIBER em eleições proporcionais da unidade da federação
			do DI em questão, na área correspondente àquele DI inferior;
			sempre arredondado para baixo. Se for o caso, pelo menos 02 (dois) dias úteis
			antes da CG, o DI realizará uma reunião prévia na qual votarão
			os filiados não vinculados a DIs inferiores, esta reunião terá
			efeitos de um DI inferior. Caso algum DI imediatamente inferior não totalize
			01% (um por cento) da arrecadação e dos votos ele terá direito
			a 01 (um) delegado.
		</p>

		<p>
			&sect; 3º. O estatuto de cada DI inferior determinará como serão
			escolhidos seus delegados.
		</p>

		<p>
			&sect; 4º. Os delegados poderão outorgar procurações
			a outro delegado de seu DI ou enviar seu voto por escrito ao presidente da CG.
		</p>

		<p>
			Artigo 12. Compete exclusivamente às CGs:
		</p>

		<p>
			I. Ordinariamente, nos 04 (quatro) primeiros meses de cada ano, deliberar sobre
			as demonstrações financeiras, eleger os membros dos seus órgãos
			e indicar os respectivos membros do CE do DI acima, nos termos do Artigo 13, &sect; 2º;
		</p>

		<p>
			II. Sempre que houver uma eleição, definir os candidatos do respectivo
			ente federativo e, se for o caso, definir o voto dos delegados do DI na CG correspondente
			do DI acima;
		</p>

		<p>
			III. Alterar o estatuto e programa do DI;
		</p>

		<p>
			IV. Tornar definitiva a suspensão e substituir o Presidente do CE e
			sua Executiva;
		</p>

		<p>
			V. Autorizar a criação ou dissolver o DI abaixo ou o respectivo
			DI e definir a destinação de seu patrimônio; e
		</p>

		<p>
			VI. Deliberar sobre qualquer assunto relevante, conforme decidido pelo CE.
		</p>

		<p>
			&sect; 1º. Alterações nos programa requerem aprovação
			de 75% (setenta e cinco por cento) dos respectivos filiados com direito a voto;
		</p>

		<p>
			&sect; 2º. As CGs serão convocadas pelo Presidente do CE, com pelo
			menos 30 (trinta) dias de antecedência nas Nacionais, explicitando-se, na
			convocação, a pauta, local, data, horários de início
			e fim e, quando for o caso, a data e horários da reunião prévia
			e a quantidade de delegados de cada DI. As CGs serão instaladas, em primeira
			convocação, com a presençaa de 25% (vinte e cinco por cento)
			dos membros com direito a voto. Salvo previsto em contrário, as votações
			da CG serão decididas por maioria simples, desconsiderados os votos brancos
			e nulos.
		</p>

		<h2>Comitê Executivo.</h2>

		<p>
			Artigo 13. Cada CE possuirá atá 53 (cinquenta e três)
			membros, com mandato de 02 (dois) anos, com inicio no dia seguinte à confirmação
			de sua eleição, e terá competência para:
		</p>

		<p>
			I. Aprovar regras gerais para a organização do DI, incluindo
			procedimentos para as CGs e escolha de candidatos;
		</p>

		<p>
			II. Ratificar ou rejeitar integralmente as regras propostas pelo CF e CJ;
		</p>

		<p>
			III. Suspender por qualquer motivo o Presidente do CE;
		</p>

		<p>
			IV. Ouvido o CJ, decidir sobre aliança eleitoral;
		</p>

		<p>
			V. Propor alterações no estatuto e no programa do DI; e
		</p>

		<p>
			VI. Requisitar, motivadamente, a convocação da CG para deliberar
			sobre quaisquer assuntos.
		</p>

		<p>
			&sect; 1º. O Presidente, o Vice-Presidente e o Secretário do CE
			são eleitos concorrendo na mesma chapa e não poderão ser reeleitos;
			já os demais membros serão eleitos individualmente pela CG. Em até
			05 (cinco) dias da posse o Presidente indicará, dentre os demais membros
			do CE, o Tesoureiro e o Corregedor, que deverão receber o aval, respectivamente,
			do CF e do CJ. Presidente, Vice-Presidente, Secretário, Tesoureiro e Corregedor
			do CE constituirão a Executiva do DI.
		</p>

		<p>
			&sect; 2º. Nas CGs indiretas, os DIs imediatamente abaixo poderão
			eleger (a) 01 (um) membro do CE para cada 04% (quatro por cento) da arrecadação
			obtida com anuidades pelo DI em questão, paga por filiados ao DI inferior;
			e (b) 01 (um) membro para cada 04% (quatro por cento) dos votos obtidos por candidatos
			do LIBER em eleições proporcionais da unidade da federação
			do DI em questão, na área correspondente àquele DI inferior;
			sempre arredondado para baixo. Os DIs poderão se compor para aproveitar as
			sobras de seus votos.
		</p>

		<p>
			&sect; 3º. As reuniões do CE serão convocadas pelo Presidente
			da CE, com pelo menos 10 (dez) dias de antecedência e serão instaladas
			com a presençaa da maioria dos seus membros. Salvo previsão em contrário,
			as votações dos CEs serão decididas por maioria simples, desconsiderados
			os votos brancos e nulos. Os membros da CE poderão outorgar procurações
			a outro membro ou enviar seu voto por escrito ao presidente da CE.
        </p>

        <p>
            &sect; 4º. Os membros da CE permanente impedidos serão repostos na próxima CG
			Ordinária e os novos membros completarão o mandato vacante. Caberá
			ao DI que indicou o membro impedido indicar seu substituto.
		</p>

		<p>
			&sect; 5º. As reuniões do CE poderão ser assistidas por
			qualquer filiado.
		</p>

		<p>
			Artigo 14. Compete ao Presidente:
		</p>

		<p>
			I. A administração ordinária do DI;
		</p>

		<p>
			II. Convocar e presidir as CGs e as reuniões do CE;
		</p>

		<p>
			III. Com o aval da CF ou CJ, respectivamente, nomear e substituir o Tesoureiro
			e o Corregedor;
		</p>

		<p>
			IV. Representar o DI, ativa ou passivamente, em juízo ou fora dele,
			pessoalmente ou por procuradores, conforme aqui previsto.
		</p>

		<p>
			Parágrafo Único. O Presidente será responsabilizado sempre
			que, por dolo ou culpa, ações ou omissões no exercício
			de sua função trouxerem prejuízo ao LIBER ou à; sua imagem.
		</p>

		<p>
			Artigo 15. Compete ao Vice-Presidente:
		</p>

		<p>
			I. Substituir o Presidente em casos de impedimentos;
		</p>

		<p>
			II. Realizar as obrigações do Presidente no caso de inércia
			deste; e
		</p>

		<p>
			III. Exercer as demais atribuições que lhes sejam conferidas
			pelo Presidente.
		</p>

		<p>
			&sect; 1º. No caso do inciso II acima, o Vice-Presidente iniciará
			uma representação contra o Presidente no CJ para que se avaliem os
			motivos da inércia.
		</p>

		<p>
			&sect; 2º. O Vice-Presidente será responsabilizado sempre que,
			por dolo ou culpa, não cumprir suas funções, especialmente
			no que trata o inciso II acima.
		</p>

		<p>
			Artigo 16. Compete ao Secretário:
		</p>

		<p>
			I. Participar de e registrar todas as reuniões do CE e CGs;
		</p>

		<p>
			II. Manter as informações sobre filiados vinculados ao seu DI
			e, quando for o caso, repassá-las ao DI superior, resguardando o sigilo sobre
			informações privadas;
		</p>

		<p>
			III. Supervisionar os demais registros do DI e exercer as atribuições
			inerentes; e
		</p>

		<p>
			IV. Salvo no caso de documentos sigilosos ou privados, zelar pela ampla divulgação
			de seus registros e fornecer cópias destes sempre que solicitado por qualquer
			filiado, exigindo apenas o necessário para cobrir os custos.
		</p>

		<p>
			&sect; 1º. No caso de impedimento temporário do Secretário
			o Vice-Presidente assumira suas funções. No caso de impedimento permanente
			o Presidente indicará o novo Secretário dentre os membros da CE, o
			qual deverá receber o aval da CF e do CJ.
		</p>

		<p>
			&sect; 2º. O Secretário será responsabilizado sempre que,
			por dolo ou culpa, houver informações incorretas em seus registros
			ou ocorrer a divulgação de dados sigilosos ou privados.
		</p>

		<p>
			Artigo 17. Compete ao Tesoureiro:
		</p>

		<p>
			I. Manter a contabilidade e elaborar as demonstrações financeiras
			do exercício encerrado, conforme os princípios de contabilidade geralmente
			aceitos no Brasil e a legislação aplicável;
		</p>

		<p>
			II. Controlar o pagamento e inadimplência dos filiados;
		</p>

		<p>
			III. Assinar, com o Presidente, quaisquer documentos que impliquem responsabilidade
			financeira do DI; e
		</p>

		<p>
			IV. Informar o CF periodicamente e sempre que solicitado sobre a situação
			financeira e os gastos DI e auxiliar o CF em suas atribuições.
		</p>

		<p>
			&sect; 1º. As demonstrações financeiras anuais deverão
			indicar com clareza a participação de cada DI inferior na arrecadação
			com anuidades obtida pelo DI em questão. Esta participação
			será utilizada para a os cálculos indicados no item (a) do Artigo
			11º, &sect; 2º e do Artigo 13, &sect; 2º.
		</p>

		<p>
			&sect; 2º. O Tesoureiro será responsabilizado sempre que, por dolo
			ou culpa, deixar de prestar informações relevantes ao CF, houver informações
			incorretas em seus registros ou o DI sofrer prejuízo financeiro.
		</p>

		<p>
			Artigo 18. Compete ao Corregedor:
		</p>

		<p>
			I. Supervisionar o andamento das atividades relevantes da Executiva;
		</p>

		<p>
			II. Aconselhar a Executiva em questões que envolvam a ética e
			disciplina partidária;
		</p>

		<p>
			III. Exercer a presidência do DI no impedimento do Presidente e do Vice-Presidente;
		</p>

		<p>
			IV. Assinar, com o Presidente, quaisquer documentos que impliquem vinculação
			política do LIBER com outros partidos; e
		</p>

		<p>
			V. Informar o CJ periodicamente e sempre que solicitado sobre as atividades
			exercidas pelo CE e auxiliar o CJ em suas atribuições.
		</p>

		<p>
			Parágrafo Único. O Corregedor será responsabilizado sempre
			que, por dolo ou culpa, deixar de prestar informações relevantes ao
			CJ ou o DI sofrer dano à sua imagem.
		</p>

		<h2>Comitê Fiscal.</h2>

		<p>
			Artigo 19. O CF terá 03 (três) membros, com mandato de 03 (três)
			anos eleitos, um a cada ano, pela CG, e terá competência para:
		</p>

		<p>
			I. Acompanhar a movimentação financeira do DI;
		</p>

		<p>
			II. Auditar e opinar sobre as demonstrações financeiras anuais;
		</p>

		<p>
			III. Auditar, organizar e enviar ao órgão estatal competente
			e ao DI superior, toda a prestação de contas do DI;
		</p>

		<p>
			IV. Acompanhar e orientar a atuação dos candidatos, parlamentares
			e executivos do âmbito do DI sobre o uso de recursos e provocar o CJ no caso
			de irregularidades; e
		</p>

		<p>
			V. Elaborar e propor à CE regras sobre assuntos de sua competência,
			como o uso de recursos, prestação de contas e sua estrutura interna.
		</p>

		<p>
			&sect; 1º. O presidente do CF será escolhido por seus pares, para
			o mandato de 01 (um) ano.
		</p>

		<p>
			&sect; 2º. Em impedimento permanente de membro do CF, os demais indicarão
			substituto provisório, que ocupará o cargo até a próxima
			CG Ordinária, a qual elegerá o substituto para completar o mandato
			vacante. Caso a maioria dos membros esteja permanentemente impedida (com ou sem
			substitutos provisórios) será convocada imediatamente uma CG para
			eleger os substitutos permanentes.
		</p>

		<p>
			&sect; 3º. As decisões do CF são tomadas por maioria dos
			votos, cabendo ao seu presidente o voto de desempate. As demais regras para reunião
			serão definidas da forma prevista neste Estatuto.
		</p>

		<h2>Comitê Julgador.</h2>

		<p>
			Artigo 20. O CJ terá 05 (cinco) membros, com mandato de 05 (cinco)
			anos eleitos, um a cada ano, pela CG, e terá competência para:
		</p>

		<p>
			I. Sempre que provocado por qualquer interessado, julgar conflitos internos
			do DI e aplicar sanções;
		</p>

		<p>
			II. Analisar previamente candidaturas a cargos públicos, com o objetivo
			de impedir o aparelhamento do partido ou seu uso para obter cargos públicos
			independentemente do compromisso com as ideias libertárias.
		</p>

		<p>
			III. Analisar e opinar sobre as propostas de aliançaa partidária;
		</p>

		<p>
			IV. Acompanhar e orientar a atuação dos filiados ao DI no tocante
			à coerência com o Programa e os princípios libertários; e
		</p>

		<p>
			V. Elaborar e propor à CE regras sobre assuntos de sua competência,
			como a organização de julgamentos, aplicação de sanções
			e sua estrutura interna.
		</p>

		<p>
			&sect; 1º. O presidente do CJ será escolhido por seus pares, para
			o mandato de 01 (um) ano.
		</p>

		<p>
			&sect; 2º. Em impedimento permanente de membro do CJ, os demais indicarão
			substituto provisório, que ocupará o cargo até a próxima
			CG Ordinária, a qual elegerá o substituto para completar o mandato
			vacante. Caso a maioria dos membros esteja permanentemente impedida (com ou sem
			substitutos provisórios) será convocada imediatamente uma CG para
			eleger os substitutos permanentes.
		</p>

		<p>
			&sect; 3º. No caso de impedimento permanente do Presidente e do Vice-Presidente
			do CE o presidente do CJ imediatamente convocará uma CG para a eleição
			da nova Executiva.
		</p>

		<p>
			&sect; 4º. As decisões do CJ são tomadas por maioria dos votos,
			cabendo ao seu presidente o voto de desempate. As demais regras para reunião
			serão definidas da forma prevista neste Estatuto.
		</p>

		<h2>Disciplina e Fidelidade Partidária</h2>

		<p>
			Artigo 21. Observadas os estatutos dos demais DIs, as normas e demais disposições
			propostas pelo CJ e aprovadas pelo CE, os processos disciplinares do LIBER serão
			regidos pelo disposto neste capítulo.
		</p>

		<p>
			Artigo 22. Quando provado, em processo conduzido pelo CJ, garantida ampla defesa,
			que um filiado praticou qualquer das atividades indicadas abaixo, o filiado sofrerá
			a medida disciplinar cabível.
		</p>

		<p>
			I. Desrespeito à ética libertária, às diretrizes
			programáticas, exercício de atividade política contrária
			ao Programa ou qualquer forma de promoção do Estado e de suas competências;
		</p>

		<p>
			II. Descumprimento do Estatuto ou desobediência à orientação
			fixada por árgão competente;
		</p>

		<p>
			III. Promoção de filiações em bloco que objetivem
			o predomínio de pessoas ou grupos estranhos ou sem afinidade com o LIBER;
		</p>

		<p>
			IV. Pagamento coletivo da contribuição de filiados;
		</p>

		<p>
			V. Desrespeito, agressão ou formulação de denúncias
			infundadas contra outros filiados;
		</p>

		<p>
			VI. Obstrução ao funcionamento de qualquer órgão
			do LIBER;
		</p>

		<p>
			VII. Abandono, sem motivo justificado por escrito, dos cargos e funções
			partidárias;
		</p>

		<p>
			VIII. Improbidade no exercício de cargo público, função
			administrativa ou em órgão partidário;
		</p>

		<p>
			IX. Infidelidade partidária, nos termos da lei e deste Estatuto; e
		</p>

		<p>
			X. Salvo autorização expressa do CE correspondente, apoiar governos
			que contrariem os princípios do LIBER, principalmente através do exercício
			de cargo políticos.
		</p>

		<p>
			Parágrafo Único. A infidelidade não será punível,
			sempre que for motivada, de forma fundamentada, por violação ao inciso
			I acima realizada por órgão do LIBER de um DI igual ou superior àquele
			prejudicado pela infidelidade.
		</p>

		<p>
			Artigo 23. O CJ definirá a medida disciplinar cabível, dentre
			as listadas abaixo, conforme a severidade da infração, os danos causados
			ao LIBER e a primariedade do réu.
		</p>

		<p>
			&sect; 1º. São medidas disciplinares:&nbsp;
		</p>

		<p>
			I. Advertência pública;
		</p>

		<p>
			II. Suspensão de 01 (um) a 12 (doze) meses, a qual suspende os direitos
			do filiado indicados nos incisos I a III do Artigo 4º;
		</p>

		<p>
			III. Destituição de função em órgão partidário;
		</p>

		<p>
			IV. Perda das prerrogativas, cargos ou funções que exerça
			em decorrência da representação e da proporção
			partidária, na respectiva Casa Legislativa;
		</p>

		<p>
			V. Perda de mandato; e
		</p>

		<p>
			VI. Desligamento, que acarretará no afastamento definitivo do filiado ao LIBER.
		</p>

		<p>
			&sect; 2º. O CJ poderá cumular as medidas disciplinares.
		</p>

		<p>
			&sect; 3º. As decisões do CJ serão fundamentadas e, quando for
			o caso, deverão explicitar seu prazo e/ou condição de revogação.
		</p>

		<p>
			Artigo 24. Qualquer filiado prejudicado poderá ou, sempre que tiver
			ciência, o corregedor deverá iniciar o processo disciplinar mediante
			representação contra o infrator na CJ da menor subdivisão competente.
		</p>

		<p>
			Artigo 25. Salvo quando a punição se limitar a advertência pública,
			o prejudicado, dentro de 15 (quinze) dias, poderá recorrer ao CJ imediatamente
			superior, o qual deverá decidir nos limites do questionamento.
		</p>

		<p>
			&sect; 1º. Se a sentença for confirmada não caberá novo
			recurso; do contrário, o prejudicado ou o corregedor do DI contrariado poderá
			recorrer ao CJ acima do que proferiu a segunda decisão e este decidirá
			definitivamente.
		</p>

		<p>
			&sect; 2º. A decisão deste último CJ será limitada pelas
			anteriores, de forma que não será possível aplicar novas penas,
			ou proferir sentenças mais gravosas ou mais brandas que as aplicadas pelas
			CJs inferiores.
		</p>

		<p>
			&sect; 3º. Caso não haja CJ acima disponível, caberá pedido
			de reconsideraçã;o ao último CJ.
		</p>

		<h2>Fontes de Recursos</h2>

		<p>
			Artigo 26. As fontes de recursos do LIBER são:
		</p>

		<p>
			I. Anuidades pagas pelos filiados;
		</p>

		<p>
			II. Doações, observada a legislação;
		</p>

		<p>
			III. Rendimentos decorrentes de sua atividade ou da aplicação
			de seus recursos; e
		</p>

		<p>
			IV. Repasses públicos que o LIBER seja obrigado a receber.
        </p>

        <p>           
            Parágrafo Único. As doações serão feitas diretamente
			ao DI favorecido e não contarão para fins item (a) do Artigo 11º,
	        &sect; 2º e do Artigo 13, &sect; 2º.
		</p>

		<p>
			Artigo 27. O valor das anuidades será definido pela CG de cada DI da
			menor subdivisão possível e será igual para todos os filiados
			ao DI em questão, permitido apenas abatimentos para menores de 24 (vinte
			e quatro) anos.
        </p>

        <p>
            Parágrafo Único. O não pagamento
			da anuidade não será motivo para inicio de procedimento administrativo
			e seus efeitos não serão considerados para fins de reincidência.
		</p>

		<p>
			Artigo 28. A CG de cada DI que englobe outros DIs deverá definir o percentual
			da arrecadação com anuidades dos filiados dos DIs englobados que esse
			receberá e, quando houver filiados não vinculados a DIs inferiores,
			também deverá definir o valor da anuidade a ser paga por estes filiados.
		</p>

	    <p>
		    &sect; 1º. O percentual definido deverá ser igual para todos os DIs
		    englobados e não poderá ser superior a 50% (cinquenta por cento)
		    da arrecadação total com anuidades dos DIs imediatamente inferiores.
	    </p>

		<p>
			&sect; 2º. Quando for o caso, a anuidade cobrada por um DI superior, não
			poderá ser mais gravosa que a maior anuidade dos DIs imediatamente inferiores.
			Caso a maior anuidade de um DI imediatamente inferior seja reduzida, a anuidade
			do DI superior será reduzida sem necessidade uma CG.
		</p>

		<p>
			Artigo 29. As anuidades sempre serão pagas ao DI da menor subdivisão
			possível e este repassará a porcentagem correspondente de sua arrecadação
			com filiados ao DI imediatamente superior.
		</p>

		<p>
			Artigo 30. Os repasses públicos que o LIBER é obrigado a receber,
			serão divididos em duas partes, uma incorporada ao patrimônio do DI
			em questão e outra distribuída entre os DIs imediatamente inferiores,
			na proporção dos votos obtidos por eles na última eleição
			proporcional do DI em questão.
		</p>

		<p>
			&sect; 1º. Nos termos da legislação vigente o DI Nacional deverá
			direcionar o valor correspondente para a criação e manutenção
			de instituto ou fundação de pesquisa e de doutrinação
			e educação política.
		</p>

		<p>
			&sect; 2º. A parcela repassada aos DIs inferiores será maior do que
			a retida e será definida em CG do DI correspondente.
		</p>

		<p>
			Artigo 31. Toda a contabilidade do LIBER seá realizada conforme os termos
			definidos pelo CF, os princípios de contabilidade geralmente aceitos no Brasil,
			a legislação aplicável e as recomendações dos órgãos estatais competentes.
		</p>

		<p>
			Artigo 32. O presidente do CF submeterá aos órgãos estatais
			competentes, nos prazos determinados em lei, o balanço contábil, a
			prestação de contas e toda a documentos exigida por lei.
		</p>

		<h2>Disposições Transitórias.</h2>

		<p>
			Artigo 33. As exigências de 12 (doze) e 24 (vinte e quatro) meses de
			filiação, previstos, respectivamente nos &sect; 1º e &sect; 2º,
			Artigo 4 acima, não se aplicam para indivíduos filiados até
			06 (seis) meses antes da obtenção do registro do partido no Tribunal
			Superior Eleitoral.
		</p>

		<p>
			Artigo 34. Até a primeira eleição proporcional do DI correspondente
			em que participem candidatos do LIBER:
		</p>

		<p>
			I. Não serão indicados delegados ou membros do CE em decorrência
			do item (b) do Artigo 11º, &sect; º e do Artigo 13, &sect; 2º, de
			forma que estes órgãos terão a metade de seus membros; e
		</p>

		<p>
			II. Os recursos de que trata o Artigo 28 seão distribuídos conforme
			a proporção de filiados em dia com suas anuidades.
        </p>

    </div>



@section SideBar {

	 @Html.Partial("_SideBar") 

}

