@model LiberMvc.Models.Agenda

@{
    ViewBag.Title = "Details";
}



<!-- AGENDA BEGIN -->
<div id="agenda_wrapper">
        <div id="agenda">
            <h2>@Html.DisplayFor(model => model.Titulo)</h2>
            <div class="main_event">
                <p class="datetime">
                    <span class="day">@Html.DisplayFor(model => model.DataInicio)</span>
                    <span class="day">@Html.DisplayFor(model => model.DataFim)</span>
                </p>

                <h2>
                    <a href="#">@Html.DisplayFor(model => model.Titulo)</a>
                </h2>
                <p class="info">
                    @Html.DisplayFor(model => model.Conteudo)
                </p>
                <p class="local">
                    @Html.DisplayFor(model => model.Local)
                </p>
            </div>
        </div>
</div>
<!-- AGENDA END -->
