@model IEnumerable<LiberMvc.Models.Agenda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Titulo
        </th>
        <th>
            DataInicio
        </th>
        <th>
            DataFim
        </th>
        <th>
            Local
        </th>
        <th>
            Conteudo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conteudo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgendaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgendaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgendaID })
        </td>
    </tr>
}

</table>
