@model IEnumerable<LiberMvc.Models.Pagina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Titulo
        </th>
        <th>
            Publicado
        </th>
        <th>
            Link
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publicado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaginaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaginaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaginaID })
        </td>
    </tr>
}

</table>
